.footer {
    position: fixed;
    bottom: 0;
    background: lightblue;
    width: 100%;
}

.form-control {
    border: 1px solid lightgrey;
    box-shadow: none;
}

#leftLabel {
    padding-left: 0;
}

#rightLabel {
    padding-right: 0;
}